body {
    background-color: #dfd1c0;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}

.nav-link {
    font-size: 14px;
}

.nav-link.active {
    color: #000;
    background-color: #fff;
}

.content {
    position: relative;
    background-color: #fff;
    border-radius: 1.5px;
}

.row {
    background-color: #fff;
}

label {
    font-size: 14px;
}

label.btn.btn-secondary.active {
    background-color: #4a9951 !important;
}

.box-shadow {
    box-shadow: -8px 0 5px -5px #33333352;
}

span {
    font-size: 14px;
}

.fa-times {
    cursor: pointer;
}

a {
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
}